**/node_modules
**/.env
**/target

##Backend specific
**/*build
**/project
**/.bloop
**/.bsp
**/.metals

**/.vscode

##Frontend specific
frontend/.DS_Store
/node_modules/

# React Router
frontend/.react-router/
**/build/
